/* Code By Webdevtrick ( https://webdevtrick.com ) */

#menu ul .draggable {
  will-change: transform;
  cursor: move;
  user-select: none;
  position: relative;
}

#menu ul .draggable:after {
  content: 'drag me';
  right: 60px;
  font-size: 10px;
  position: absolute;
  cursor: pointer;
  line-height: 0;
  transition: all 200ms;
  transition-timing-function: cubic-bezier(0.48, 0.72, 0.62, 1.5);
  transform: translateX(120%);
  opacity: 0;
  top: 50%;

}

#menu ul .draggable:hover:after {
  opacity: 1;
  transform: translate(0);
}

.over {
  transform: scale(1.1, 1.1);
}