@font-face {
    font-family: title;
    src: url(fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: blocktext;
    src: url(fonts/Poppins/Poppins-Regular.ttf);
}


html {
    /* https://webgradients.com/ */
    --col1st: #fbc2eb;
    --col2nd: #91a398;
    --col3rd: #1E1E1E;
    --col4th: #252526;
    --col5th: #333333;
    --col6th: #CE916A;
}

body {
    width: calc(50% - 40px);
    margin: 0 0 0 50%;
    background: var(--col3rd);
    padding: 20px;
}

body > div {
    padding: 20px;
    margin: 20px 0;
    background: var(--col5th);
}

body > iframe {
    width: 50%;
    position: fixed;
    left: 0;
    border: 0;
    top: 0;
    height: 100vh;
    background: white;
}

@keyframes buttonAnimation {
    
    0%  {
        background-color: var(--col3rd);
        color: var(--col2nd);
    }
    50% {
        background-color: var(--col3rd);
        color: var(--col6th);
    }
    100% {
            background-color: var(--col3rd);
            color: var(--col2nd);
    }
}

h1, h2, h3 {
    font-family: title;
    color: var(--col2nd);
}

p, span, li, a, input:placeholder-shown, input, button {
    font-family: blocktext;
    color: var(--col2nd);
}

input {
    line-height: 19px;
    outline: 0;
    background: transparent;
    border: 0;
    border-bottom: 1px solid var(--col2nd);
}

button:hover {
    transform: scale(1.1);
}

.describedInput {
    display: flex;
}

.describedInput > * {
    margin: 0;
    flex-basis: 50%;
}

/**
    SelectionList
*/
.selectMove {
    display: flex;
}

.selectMove > div, 
.selectMove > ul {
    flex-basis: 50%;
    position: relative;
}


li.draggable {
    display: inline-block;
    line-height: 20px;
    position: relative;
    transition: all .5s;
    width: 100%;
    background-image: none;
    background-color: var(--col2nd);
    margin: 5px 20px;
    padding: 10px;
    width: calc(100% - 80px);
    color: var(--col3rd);

}

#menu li.draggable:hover {
    transform: scale(1.2);
}

li.draggable div {
    position: absolute;
    background: url("./icons/cancel.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    right: 20px;
}

li.draggable.toRemove {
    background-color: crimson;
    background-image: none;
}

ul .draggable.toRemove:after {
    content: 'delete me';
}

.selectMove .add {
    right: 0;
    border: 0;
    line-height: 27px;
    position: absolute;
    padding: 0 20px;
    cursor: pointer;
    transition: all .5s;
    background-color: var(--col3rd);
}

/**
    dropDown
*/
.dropDown > ul > li {
    list-style: none;
    background: var(--col3rd);
    padding: 2px 10px;
    border-bottom: 1px solid var(--col2nd);
    cursor: pointer;
}

.dropDown > ul > li:hover {
    background: var(--col5th);
}

.dropDown > ul input {
    transition: all .5s;
}

.dropDown.noMatch > ul input {
    border-bottom: 1px solid darkred;
    color: darkred;
}

.dropDown.noMatch > button {
    color: darkred;
    transform: none;
    cursor: default;
}

/**
generate button
*/
#generate {
    position: fixed;
    top: 0;
    margin: 0;
    width: 50%;
    text-align: center;
    padding: 0;
    background: none;
    left: 0;
    display: block;
}

#generate button {
    border-radius: 40px;
    border: 0;
    padding: 10px 40px 10px 80px;
    font-size: 20px;
    cursor: pointer;
    animation: buttonAnimation;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    background-image: url("icons/saveJSON.png");
    background-position: left 30px center;
    background-size: 30px;
    background-repeat: no-repeat;
    position: absolute;
    right: 40px;
    top: 20px;
    box-shadow: 0px 0px 5px 5px white;
    transition: all .5s;
}

/**
    Slider template
*/
body > .slider h2 input {
    background: none;
    border: none;
    line-height: inherit;
    font-size: inherit;
    outline: 0;
}

body > .slider .heading > span {
    color: white;
    margin: -20px 0 20px;
    display: block;
}



/****************************************
tryout
***/

#slider .content {
    padding: 20px;
    background: var(--col4th);
    margin: 20px;
}

#slider .content h3 {
    margin: 0;
}

#slider button {
    background: var(--col3rd);
    border: 0;
    padding: 5px 20px;
    display: block;
    margin: 0 auto;
    transition: all .5s;
    cursor: pointer;
}