.dropDown {
    position: relative;
}

.dropDown > ul {
    padding: 0;
    margin: 0;
    width: 80%;
}

.dropDown > ul input {
    width: 100%;
}

.dropDown > button {
    width: 20%;
    max-width: 70px;
    position: absolute;
    top: 0;
}